*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-color: #444;
    padding: 30px;
    font-size: 2rem;
    text-align: center;
}
section nav{
    float: left;
    width: 30%;
    height: 300px; 
    background: #ccc;
    padding: 20px;
    text-align: center;
  }
  
section ul,a{
    margin-top: 15%;
    list-style-type: none;
    text-decoration: none;
  }
  
.container {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; 
  }
section::after {
    display: table;
  }
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 2rem;
  }
  
  @media (max-width: 600px) {
    section nav, .container {
      width: 100%;
      height: auto;
    }
  }